body {
  background-color: black;
  font-family: Arial, sans-serif;
  background-image:url(/image/chime.jpg); 
  background-repeat:no-repeat;
  background-position: none;
  padding: 0;
  margin: 0;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 48%;
}

.container {
  width: 830px;
  height: 700px;
  padding: 20px 50px;
  background-color: antiquewhite;
  background-size: 90px;
  border-radius:  20px;
  box-shadow: 0px 0px 5px #666;
  font-size:29px;
  justify-content: center;
  position: relative;
  bottom: auto;
  left: 70%;
  
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.label, input[type="submit"] {
  display: block;
  margin-bottom: 90px;
  font-size: 30px;
}


input[type="email"], input[type="password"] {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 70%;
  box-sizing: border-box;
  align-items: center;
  font-size: 30px;
}

button{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  height: -20px;
  font-size: 30px;
  
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  font-size: larger;
  gap: 35px;

}
